:root {
    --header-image: url('../img/dcvd9ll-011c762f-9942-4de4-9cc8-64bdaf696e51.gif');
    --body-bg-image: url('../img/antik-008-fuu.gif');

    --border-width: 1px;
    --background-color: #0D0D0D; /* Almost black */
    --foreground-color: #1A1A1A; /* Dark gray */
    --text-color: #E0E0E0; /* Light gray for text */
    --link-color: #00BFFF; /* Bright blue for links */
    --hover-color: #FF69B4; /* Hot pink for hover effects */
    --border-color: #333333; /* Darker gray for borders */
    --shadow-color: rgba(255, 105, 180, 0.5); /* Soft pink shadow effect */



    --round-thing: 7px;
}

body {
    font-family: 'Nunito';
    margin: 0;
    background-size: cover;
    background-color:  var(--foreground-color);
    background-image: var(--body-bg-image);
    color: var(--text-color);
    display: grid;
    place-items: center;
    height: 100vh;
}



.box img {
    width: 100%;
}

ul {
    list-style-type: none;
}


li strong {
    color: var(--hover-color);
}