:root {
    --header-image: url('../img/dcvd9ll-011c762f-9942-4de4-9cc8-64bdaf696e51.gif');
    --body-bg-image: url('../img/pattern.png');



    --round-thing: 7px;
}

body {
    background-size: 100px 100px;
}


main {
    padding-right: 1%;
}

#container {
    margin-top: 2%;
}

#leftSidebar {
  background-color: #10060be4;
}

main{
  background-color: #10060be4;
}



#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.images img {
    width: 49%;
    margin: 4px;
 }

 .images:hover {
    cursor: pointer;
  }

 .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    margin: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .lightbox:hover {
    cursor: pointer;
  }

  .frame-main {
    background-color: inherit;
    background-color: #10060be4 !important;
  }
  