html {
    height: 100vh;
}

body {
    background-image: url("../img/saito/boringBeatmaking.gif");
    background-size: cover;
    background-position: 0% 85%;
    background-attachment: fixed;
}

.music-title {
    color: var(--hover-color);
}

.star-rating {
    color: var(--hover-color);
}

.review-title {
    overflow: hidden;
    /* asegura que el contenedor encierre ambos elementos */
}

.review-title .review-cover {
    float: right;
    /* o `left` si preferís del otro lado */
    width: 30%;
    /* o el ancho que prefieras */
    margin-left: 20px;
    /* separación del texto */
    margin-bottom: 10px;
}

.review-title .review-cover img {
    width: 100%;
    height: auto;
}

#music-author {
    color: var(--link-color);
}

aside {
    align-items: center;
    justify-content: center;
}

#yt-video {
    width: auto;
    height: auto;
    opacity: 75%;
    margin-left: 2%;
    padding: 0.4%;
}

#ryo {
    margin-top: 8%;
    padding: 0;
    width: 60%;
    margin-right: 0;
}

#ryo img {
    width: 100%;
    opacity: 70%;
}


